body {
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(237,237,237);
    color: rgb(237,237,237);
}

.form {
    background-color: rgb(35,35,35);
    text-align: center;
    margin: 0;
    padding: 5px 0;
    border-radius: 16px;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
}

.row {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #EDEDED, #FFFFFF);
    background: linear-gradient(to right, #EDEDED, #FFFFFF);
    display: flex;
    text-align: left;
    justify-content: space-around;
    margin: 0.2px 0px;
    border: solid 0.5px;
    border-radius: 5px;
    color: rgb(35,35,35);
    font-size: 14px;
}

.label {
    width: 50%;
    padding: 1em 0 1em 1em;
}

.nome {
    padding-bottom: 10px;
}

.predio {
    padding-bottom: 10px;
}

.local {
    padding-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.button_happy {
    appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.75em 0.75em;
    background-image: url('../img/happy_unc.png');
    background-size: contain;
    
}

.button_happy:checked {
    appearance: none;
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.75em 0.75em;
    box-shadow: 2px gray;
    background-image: url('../img/happy_che.png');
    background-size: contain;
}

.button_sad {
    appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.75em 0.75em;
    background-image: url('../img/sad_unc.png');
    background-size: contain;
}

.button_sad:checked {
    appearance: none;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.75em 0.75em;
    background-image: url('../img/sad_che.png');
    background-size: contain;
}

.button_na {
    appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.75em 0.75em;
    background-image: url('../img/na_unc.png');
    background-size: contain;
}

.button_na:checked {
    appearance: none;
    background-color: grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.75em 0.75em;
    background-image: url('../img/na_che.png');
    background-size: contain;
}

.options {
    display: flex;
    margin: 0 0 0 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.submit {
    display: flex;
    padding-bottom: 5px;
}

.submit-button {
    border-radius: 3px;
    background-color: rgb(255,70,10);
    color: rgb(237,237,237);
    width: 50%;
    margin: auto;
    padding: 10px;
    border: ridge;
}

.submit-button:active {
    background-color: rgb(237,237,237);
}

.screen {
    background-color: rgb(35,35,35);
    border-radius: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader-box {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.loader-text {
    color: #111111;
    margin-top: 15px;
    font-family: sans-serif;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #EDEDED;
    border-top-color: #FF460A;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}